body {
    background-image: url('images/pinkwhite.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    position: relative;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.navbar li {
    display: inline;
    margin-right: 40px;
}

.navbar a {
    color: rgb(37, 36, 36);
    text-decoration: none;
}

.profile-img {
    margin-bottom: 40px; 
    width: 190px; 
    height: 220px; 
    object-fit: cover; 
    border-radius: 0;
    margin-top: 120px;
}

.content {
    margin-top: 29px;
    background: rgb(247, 177, 188);
    padding: 20px;
    color: #fff;
    height: 500px;
    margin-left: -11px;
}


h1 {
    font-size: 24px;
    border-bottom: 2px solid #fff;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
}

.education-item {
    margin-top: 20px;
    margin-left: 30px; 
    margin-right: 0px; 
    padding-left: 30px; 
    position: relative; 

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.education-item span {
    font-size: 18px;
    font-weight: normal; 
    display: inline-block; 
    margin-right: 10px;
}



.col-md-3{
    background: linear-gradient(to bottom, rgb(247, 177, 188) 50%, rgb(255, 211, 218) 50%);
    padding: 20px;
    margin-top: 100px;
    height: 500px;
}


.photo-frame {
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: whitesmoke;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 400px; 
    margin-top: 40px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}


.photo-frame img {
    max-width: 100%;
    max-height: 100%; 
    display: block;
    margin-bottom: 125px;
    height: 350px;
    width: 220px;
}


span {
    flex: 1;
    text-align: left;
    margin-right: 100px;
}