*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/pinkwhite.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: whitesmoke;
    font-family: Arial, sans-serif;
    position: relative;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.navbar li {
    display: inline;
    margin-right: 40px;
}

.navbar a {
    color: rgb(37, 36, 36);
    text-decoration: none; 
}

h1 {
    text-align: center;
    border-radius: 20px; 
    background-color: rgb(255, 211, 218); 
    padding: 10px 20px; 
    display: inline-block;
    font-weight: bold;
    transform: perspective(1px) skew(-15deg);
    color: white;
}



.desc{
    text-align: center;
    margin-left: -300px; 
    margin-top: 15px;
    font-family: Courier;
}

.link{
    text-align: center; 
    margin-top: 20px;
}

.instagram-button {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-left: -350px;
}
